
#wrapper{
  
    
}
body {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    background: url('/static/donate/img/soup.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
img {
    max-width: 100%;
    max-height: 100%;
}
#choose {
    color: rgb(55, 115, 47);
    
}

#initial_dialog {
    text-align: center;
    margin-top: 5%;
}
ul {
    list-style-type: none;
}
li {   
    padding: 10px;
    margin: 10px;
 }

#select_button{
    padding:11px 20px;
    font-weight: bold;
    border-radius: 7px;
    color: black;
    text-align: center;
}
#login_button {
    padding:11px 20px;
    font-weight: bold;
    border-radius: 7px;
    color: black;
    text-align: center;
    margin-left: 5px;
}

#buttons {
    margin-top: 7%;
}
.choose {
    display: inline-block;
    font-size: 20px;
}
h1 {
    font-weight: bold;
    font-size: 7vw;
    text-align: center;
    color: black;
}
h3 {
    font-size: 4vw;
}

#first_box {
    position: relative;
    bottom: 37px;
}

#show_register{
    font-size: 25px;
    display:none;
    color: black;
    text-align: -webkit-center;
}
#show_register,input {
    font-size: initial;
}
#charity_register{
    display:none;
    font-size: 25px;
    color: black;
    text-align: -webkit-center;
}
#charity_register,input {
    font-size: initial;
}
.bus_reg_input {
    margin-top:15px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
}
#reg_button {
    padding: 15px;
    border-radius: 7px;
    font-size: 20px;
    margin-top: 20px;
   
}
#login {
    font-size: 3vw;
    display:none;
    color: rgb(55, 115, 47);
    text-align: -webkit-center;
}
.charity_reg_button {
    margin-top:15px;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}
#charity_table {
    height: 10px;
}
.charity_input {
    margin-top:15px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
}
