<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static '/donate/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>Taste not Waste</title>
</head>
<body>
    <div id='wrap'>
    <div id='crops'>
    </div>
    <div id='all'>
        <div id='links2'>
                <a id='home' href='/'>Home</a>
                <a id='home' href='/donor_profile/{{donor.id}}'>Your Profile</a>
                <a id='home' href='/logout'>Logout</a>
        </div>
        <h2 id='don_head'>All Donatations Available</h2>
        <h2 id='char_head'>All Charities</h2>
    <div id='alldonors'>
        <table class='donor_table'>
                <thead >
                    <tr>
                        <th>Business Name </th>
                        <th>Contact</th>
                        <th>Food Category</th>
                        <th>Food</th>
                        <th>Pick Up Date</th>
                        <th>Pick Up Time </th>
                        <th>Address </th>
                        <th>Choose Donation</th>
                    </tr>
                </thead>  
                <tbody>
                    {% for food in foods %}
                    <tr>
                        <td>{{food.donor.business_name}}</td> 
                        <td>{{food.donor.contact_name}}</td> 
                        <td>{{food.type_of_food}}</td>
                        <td>{{food.food_name}}</td>
                        <td>{{food.pickup}}</td> 
                        <td>{{food.pickup_time}}</td> 
                        <td>{{food.donor.address}}<span> </span>{{food.donor.city.city}}<span> </span>{{food.donor.state.state}}</td> 
                        <td><a href=''>Add Donation</a></td>    
                    {% endfor %}
                    </tr>  
                </tbody>  
            </table>
    </div>         
    <div id='allcharities'>
            <table class='charity_table'>
                    <thead id='tablehead'>
                        <tr>
                            <th>Charity Name </th>
                            <th>Contact</th>
                            <th>Phone Number </th>
                            <th>Address </th>
                        </tr>
                    </thead>  
                    <tbody>
                        {% for charity in charities %}
                        <tr>
                            <td>{{charity.charity_name}}</td> 
                            <td>{{charity.contact_name}}</td> 
                            <td>{{charity.phone_number}}</td> 
                            <td>{{charity.address}}{{charity.city.city}}<span>  </span>{{charity.state.state}}</td>   
                        </tr>  
                        {% endfor %}
                    </tbody>  
                </table>
    </div>         
    </div>
    </div>
</body>
</html>