<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charity</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'donate/main.css' %}">
</head>
<body>
    <div class="background">
        <a href="/success">Subscribe</a>
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
        <h1>Welcome "{{ user.charity_name }}"</h1>
        <div class="contain">
            <div class="dropdown">
                <button class="dropbtn">Restaurants</button>
                <div class="dropdown-content">
                    {% for rest in restaurants %}
                <a href="#">{{ rest.business_name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown">
                    <button class="dropbtn">Search by City</button>
                    <div class="dropdown-content">
                        {% for city in cities %}
                        {% for state in states%}
                    <a href="#">  {{ city.city }}, {{ state.state }}</a>
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            <div class="dropdown">
                <button class="dropbtn">Other Charities</button>
                <div class="dropdown-content">
                    {% for charity in charities %}
                    <a href="#">{{ charity.charity_name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Testimonials</button>
                <div class="dropdown-content">
                    <a href="#">About food insecurity</a>
                    <a href="#">Getting people to join</a>
                </div>
            </div>
        </div>
        <div class="pick">
                <h2>Future Pick-ups</h2>
                {% for pick in picks %}
                <h4>Donor: {{ pick.donor.business_name }}</h4>
                <h4>pick-up time: {{ pick.pickup_time }} <a href="/add/{{pick.id}}">Add to basket</a></h4>
                {% endfor %}
            </div>
            
        <div class="invite">
            <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro.
            De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo
            vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.
            Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus
            resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket
            bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat
            mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum
            cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth
            eliv ingdead.</p>
        </div>
        <div class="basket">
            <h2>Your Basket</h2>
            {% for basket in baskets %}
            <h4>Restaurant: {{ basket.donor.business_name }}</h4>
            <h4>{{ basket.type_of_food }}: {{ basket.food_name }}</h4>
            <h4>Pick at: {{ basket.donor.address }} {{ basket.donor.city.city }}</h4>
            <h4>Time: {{ basket.pickup_time }}</h4>
            <hr>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>